# Fleet staff
.fleet

# test or dev bolt database
*.bolt
ui/cypress/videos
ui/cypress/screenshots
ui/cypress/downloads
ui/node_modules
ui/build
data/**

# binary files
bin

# temp files
tmp.*
assets.tgz
